@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;
@use "@/styles/partials/fonts" as *;
@use "@/styles/partials/global" as *;
@use "@/styles/partials/resets" as *;

.border {
    border: 1px solid $Cloud;
    &--middle {
        @include tablet {
            display: none;
        }
    }
}

.edit-warehouse {
    background-color: $White;
    border-radius: 4px;
    margin-top: -3.75rem;
    width: 90%;
    max-width: 288px;
    border: 1px solid #13182c1b;
    box-shadow: 0px 2px 5px 0px #13182C1A;

    @include tablet {
        margin-top: -5.625rem;
        max-width: 689.2px;
    }

    @include desktop {
        max-width: 1050px;
    }

    &__top {
        padding: 1.5rem;
        display: flex;
        gap: 0.3rem;
        @include tablet {
            padding: 1.5rem;
        }
    }

    &__bottom {
        @include tablet {
            display: flex;
            padding: 1rem 0;
        }
    }

    &__warehouse {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            border-right: 1px solid $Cloud;
            padding: 1rem 2rem;
            width: 50%;
        }
        @include desktop {
            padding: 1rem 2rem;
        }
    }

    &__header {
        margin: 0 0 2rem 0;
    }

    &__contact {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        @include tablet {
            padding: 1rem 2rem;
            width: 50%;
        }
        @include desktop {
            padding: 1rem 2rem;
        }
    }

    &__input {
        width: 100%;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        margin: 0.25rem 0 1rem 0rem;
        padding: 0 1rem;
        outline: none;
        transition: all 0.15s ease-in-out;
        @include tablet {
            height: 2.5rem;
            margin: 0.25rem 0 1rem 0rem;
        }
        &:focus {
            outline: none;
            border: 1px solid $Instock-Indigo;
        }
    }

    &__buttons {
        padding: 1rem;
        background-color: rgba(247,248,249,.5);
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    &__button {
        width: 46%;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: 0;
        cursor: pointer;
        transition: all 0.15s ease-in-out;
        @include tablet {
            width: 10%;
            max-width: 4rem;
        }
        &--cancel {
            border: 1px solid $Cloud;
            color: $Slate;
            background-color: $White;
            &:hover {
                border: 1px solid $Instock-Indigo;
                color: $Instock-Indigo;
            }
        }
        &--submit {
            background-color: $Instock-Indigo;
            color: $White;
            &:hover {
                background-color: $Graphite;
            }
        }
    }
}
