@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;

.border {
    border: 1px solid $Cloud;
    &--middle {
        @include tablet {
            display: none;
        }
    }
}

.edit-warehouse {
    position: relative;
    background-color: $White;
    margin: 0 auto;
    width: 93%;
    bottom: 3rem;
    border: 1px solid #13182c1b;

    &__top {
        padding: 0 1rem;
        display: flex;
        gap: 0.3rem;
    }

    &__bottom {
        @include tablet {
            display: flex;
        }
    }

    &__warehouse {
        padding: 1rem;
        @include tablet {
            border-right: 1px solid $Cloud;
        }
    }

    &__contact {
        padding: 1rem;
    }

    &__subheader {
    }

    &__input {
        width: 90%;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: 1px solid $Cloud;
        margin: 0.25rem 0;
        padding: 0 1rem;
        @include tablet {
            height: 2.5rem;
            margin: 0.5rem 0;
        }
    }

    &__buttons {
        padding: 1rem;
        background-color:$Light-Grey;
        display: flex;
        justify-content: space-between;
        @include tablet {
            justify-content: flex-end;
            gap: 1rem;
        }
    }

    &__button {
        width: 46%;
        height: 2.25rem;
        border-radius: 1.25rem;
        border: 0;
        @include tablet {
            width: 10%;
        }
        &--cancel {
            border: 1px solid $Cloud;
            color: $Slate;
            background-color: $White;
        }
        &--submit {
            background-color: $Instock-Indigo;
            color: $White;
        }
    }
}