@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
}
body {
  font-family: "Titillium";
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.813rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.688rem;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (min-width: 1280px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p {
  font-size: 0.938rem;
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

::-moz-placeholder {
  font-family: "Titillium";
}

::placeholder {
  font-family: "Titillium";
}

.button {
  height: 2.25rem;
  width: 100%;
  border-radius: 1.25rem;
}
@media screen and (min-width: 768px) {
  .button {
    height: 2.375rem;
    padding: 0px 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    height: 2.375rem;
    padding: 0px 1rem;
  }
}
.button__primary {
  background-color: #2E66E5;
  color: #FFFFFF;
}
.button__primary:hover {
  background-color: #13182C;
}
.button__secondary {
  background-color: #F7F8F9;
  color: #5C667E;
}
.button__secondary:hover {
  background-color: #FFFFFF;
  color: #2E66E5;
  border: 1px #2E66E5 solid;
}
.button__delete {
  background-color: #C94515;
  color: #FFFFFF;
}
.button__delete:hover {
  background-color: #13182C;
  color: #FFFFFF;
}

*, *::before, *::after {
  margin: auto 0;
  padding: auto 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid #BDC5D5;
}
@media screen and (min-width: 768px) {
  .border--middle {
    display: none;
  }
}

.edit-warehouse {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: -3.75rem;
  width: 90%;
  max-width: 1050px;
  border: 1px solid rgba(19, 24, 44, 0.1058823529);
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1019607843);
}
@media screen and (min-width: 768px) {
  .edit-warehouse {
    margin-top: -5.625rem;
  }
}
.edit-warehouse__top {
  padding: 1.5rem;
  display: flex;
  gap: 0.3rem;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__top {
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .edit-warehouse__bottom {
    display: flex;
    padding: 1rem 0;
  }
}
.edit-warehouse__warehouse {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__warehouse {
    border-right: 1px solid #BDC5D5;
    padding: 1rem 2rem;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__warehouse {
    padding: 1rem 2rem;
  }
}
.edit-warehouse__header {
  margin: 0 0 2rem 0;
}
.edit-warehouse__contact {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__contact {
    padding: 1rem 2rem;
    width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .edit-warehouse__contact {
    padding: 1rem 2rem;
  }
}
.edit-warehouse__input {
  width: 100%;
  height: 2.25rem;
  border-radius: 1.25rem;
  border: 1px solid #BDC5D5;
  margin: 0.25rem 0 1rem 0.25rem;
  padding: 0 1rem;
  outline: none;
  transition: all 0.15s ease-in-out;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__input {
    height: 2.5rem;
    margin: 0.5rem 0;
  }
}
.edit-warehouse__input:focus {
  outline: none;
  border: 1px solid #2E66E5;
}
.edit-warehouse__buttons {
  padding: 1rem;
  background-color: rgba(247, 248, 249, 0.5);
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__buttons {
    justify-content: flex-end;
    gap: 1rem;
  }
}
.edit-warehouse__button {
  width: 46%;
  height: 2.25rem;
  border-radius: 1.25rem;
  border: 0;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
@media screen and (min-width: 768px) {
  .edit-warehouse__button {
    width: 10%;
    max-width: 4rem;
  }
}
.edit-warehouse__button--cancel {
  border: 1px solid #BDC5D5;
  color: #5C667E;
  background-color: #FFFFFF;
}
.edit-warehouse__button--cancel:hover {
  border: 1px solid #2E66E5;
  color: #2E66E5;
}
.edit-warehouse__button--submit {
  background-color: #2E66E5;
  color: #FFFFFF;
}
.edit-warehouse__button--submit:hover {
  background-color: #232940;
}/*# sourceMappingURL=EditWarehouse.css.map */