@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/resets" as *;

.border {
	border: 1px solid $Cloud;
	&--middle {
		@include tablet {
			display: none;
		}
	}
}

.inventory-details {
	background-color: $White;
	border-radius: 4px;
	margin-top: -3.75rem;
	width: 90%;
	max-width: 1050px;
	border: 1px solid #13182c1b;
	box-shadow: 0px 2px 5px 0px #13182c1a;
	@include tablet {
		margin-top: -5.625rem;
	}

	&__top {
		padding: 1.5rem;
		display: flex;
		gap: 0.3rem;
		@include tablet {
			padding: 1.5rem;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50rem;
		border-style: none;
		background-color: $Instock-Indigo;
		color: $White;
		text-transform: capitalize;
		font-family: Titillium;
		transition: all 0.15s ease-in-out;
		cursor: pointer;
		width: 2.5rem;
		height: 2.5rem;
		margin-left: auto;
		@include tablet() {
			height: 2.5rem;
			margin-top: 0;
			padding: 0.5rem;
			width: 5rem;
		}
		&:hover {
			background-color: $Graphite;
		}
	}
	&__button-text {
		margin-left: 0.5rem;
		display: none;
		@include tablet() {
			display: flex;
			margin-left: 0.5rem;
		}
	}

	&__bottom {
		@include tablet {
			display: flex;
			padding: 1rem 0;
			height: 10rem;
		}
	}

	&__left {
		padding: 1rem 1rem 0 1rem;
		display: flex;
		flex-direction: column;
		@include tablet {
			border-right: 1px solid $Cloud;
			padding: 0rem 2rem;
			width: 50%;
		}
	}

	&__right {
		padding: 0rem 1rem 1rem 1rem;
		display: flex;
		flex-direction: column;
		@include tablet {
			padding: 0rem 2rem;
			width: 50%;
		}
		&--top {
			display: flex;
			@include tablet {
				margin-bottom: 1rem;
			}
		}
	}

	&__subheaders {
		color: $Slate;
		&--category {
			@include desktop {
				margin-top: 1rem;
			}
		}
	}

	&__text {
		margin-bottom: 1rem;
		font-size: 0.8rem;
		color: $Instock-Black;
		@include tablet {
			margin-bottom: 0;
		}
		&--status {
			font-size: 0.7rem;
			color: $Green;
			font-weight: 600;
		}
	}

	&__status-section {
		margin-right: 5rem;
		@include tablet {
			margin-right: 6rem;
		}
		@include desktop {
			margin-right: 10rem;
		}
	}

	&__pill {
		border: none;
		padding: 0.5rem 1rem;
		border-radius: 2rem;
		text-transform: uppercase;
		font-size: 0.75rem;
		line-height: 1.125rem;
		margin-bottom: 1rem;
		@include tablet() {
			margin-top: 0;
		}
		&--is {
			color: $Green;
			background-color: rgba($color: $Green, $alpha: 0.07);
		}
		&--oos {
			color: $Red;
			background-color: rgba($color: $Red, $alpha: 0.07);
		}
	}
}
