@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Titillium";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 400;
}
body {
  font-family: "Titillium";
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3 {
  font-size: 0.813rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 0.688rem;
  line-height: 1rem;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@media screen and (min-width: 1280px) {
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p {
  font-size: 0.938rem;
  line-height: 1.625rem;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

::-moz-placeholder {
  font-family: "Titillium";
}

::placeholder {
  font-family: "Titillium";
}

.button {
  height: 2.25rem;
  width: 100%;
  border-radius: 1.25rem;
}
@media screen and (min-width: 768px) {
  .button {
    height: 2.375rem;
    padding: 0px 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    height: 2.375rem;
    padding: 0px 1rem;
  }
}
.button__primary {
  background-color: #2E66E5;
  color: #FFFFFF;
}
.button__primary:hover {
  background-color: #13182C;
}
.button__secondary {
  background-color: #F7F8F9;
  color: #5C667E;
}
.button__secondary:hover {
  background-color: #FFFFFF;
  color: #2E66E5;
  border: 1px #2E66E5 solid;
}
.button__delete {
  background-color: #C94515;
  color: #FFFFFF;
}
.button__delete:hover {
  background-color: #13182C;
  color: #FFFFFF;
}

*, *::before, *::after {
  margin: auto 0;
  padding: auto 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid #BDC5D5;
}
@media screen and (min-width: 768px) {
  .border--middle {
    display: none;
  }
}

.inventory-details {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-top: -3.75rem;
  width: 90%;
  max-width: 1050px;
  border: 1px solid rgba(19, 24, 44, 0.1058823529);
  box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.1019607843);
}
@media screen and (min-width: 768px) {
  .inventory-details {
    margin-top: -5.625rem;
  }
}
.inventory-details__top {
  padding: 1.5rem;
  display: flex;
  gap: 0.3rem;
}
@media screen and (min-width: 768px) {
  .inventory-details__top {
    padding: 1.5rem;
  }
}
.inventory-details__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  border-style: none;
  background-color: #2E66E5;
  color: #FFFFFF;
  text-transform: capitalize;
  font-family: Titillium;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inventory-details__button {
    height: 2.5rem;
    margin-top: 0;
    padding: 0.5rem;
    width: 5rem;
  }
}
.inventory-details__button:hover {
  background-color: #232940;
}
.inventory-details__button-text {
  margin-left: 0.5rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .inventory-details__button-text {
    display: flex;
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .inventory-details__bottom {
    display: flex;
    padding: 1rem 0;
  }
}
.inventory-details__left {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .inventory-details__left {
    border-right: 1px solid #BDC5D5;
    padding: 1rem 2rem;
    width: 50%;
  }
}
.inventory-details__right {
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .inventory-details__right {
    padding: 1rem 2rem;
    width: 50%;
  }
}
.inventory-details__right--top {
  display: flex;
}
.inventory-details__subheaders {
  color: #5C667E;
}
.inventory-details__text {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #13182C;
}
.inventory-details__text--status {
  font-size: 0.7rem;
  color: #158463;
  font-weight: 600;
}
.inventory-details__status-section {
  margin-right: 5rem;
}
@media screen and (min-width: 768px) {
  .inventory-details__status-section {
    margin-right: 6rem;
  }
}
@media screen and (min-width: 1280px) {
  .inventory-details__status-section {
    margin-right: 10rem;
  }
}
.inventory-details__pill {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .inventory-details__pill {
    margin-top: 0;
  }
}
.inventory-details__pill--is {
  color: #158463;
  background-color: rgba(21, 132, 99, 0.07);
}
.inventory-details__pill--oos {
  color: #C94515;
  background-color: rgba(201, 69, 21, 0.07);
}/*# sourceMappingURL=InventoryDetails.css.map */