@use './variables' as *;
@use './mixins' as *;

.button {
    height: 2.25rem;
    width: 100%;
    border-radius: 1.25rem;

    @include tablet {
        height: 2.375rem;
        padding: 0px 1rem;
    }

    @include desktop {
        height: 2.375rem;
        padding: 0px 1rem;
    }

    &__primary {
        background-color: $Instock-Indigo;
        color: $White;

        &:hover {
            background-color: $Instock-Black;
        }
    }

    &__secondary {
        background-color: $Light-Grey;
        color: $Slate;

        &:hover {
            background-color: $White;
            color: $Instock-Indigo;
            border: 1px $Instock-Indigo solid;
        }
    }

    &__delete {
        background-color: $Red;
        color: $White;

        &:hover {
            background-color: $Instock-Black;
            color: $White;
        }
    }
}