@use "@/styles/partials/fonts" as *;
@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.inventory-details-list {
  width: 90%;
  margin: auto;
  background-color: $White;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  &__top {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid $Cloud;
    @include tablet() {
      flex-direction: row;
      align-items: center;
      padding: 0 2rem;
      justify-content: space-between;
    }
    &--left {
      display: flex;
      align-items: center;
    }
    &--right {
      @include tablet() {
        display: flex;
        align-items: center;
      }
    }
  }
  &__header {
    text-transform: capitalize;
  }
  &__search {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: $White;
    border: 1px solid $Cloud;
    outline: none;
    background-image: url("../../assets/Icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    outline: none;
    transition: all 0.15s ease-in-out;
    width: 100%;
    &:active {
      border: 1px solid $Instock-Indigo;
    }
    &:focus {
      border: 1px solid $Instock-Indigo;
    }
    @include tablet() {
      height: 2.5rem;
      margin-right: 1rem;
      width: 11rem;
    }
    @include desktop() {
      width: 20rem;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    border-style: none;
    background-color: $Instock-Indigo;
    color: $White;
    text-transform: capitalize;
    font-family: Titillium;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    @include tablet() {
      height: 2.5rem;
      margin: 0;
      padding: 0.5rem;
      width: 8rem;
    }
    &:hover {
      background-color: $Graphite;
    }
  }
  &__button-text {
    margin-left: 0.5rem;
    display: none;
    @include tablet() {
      display: flex;
      margin-left: 0.5rem;
    }
  }
  &__filter {
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    margin-left: 1rem;
  }
}

.inventory-details-filter {
  display: none;
  background-color: $Light-Grey;
  @include tablet() {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0;
    height: 2.5rem;
  }
  &__header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $Slate;
    text-wrap: nowrap;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
      color: $Instock-Indigo;
    }
    &--actions {
      text-transform: uppercase;
      color: $Slate;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: $Instock-Indigo;
      }
    }
  }
  &__container {
    &--inventory-details {
      @include tablet() {
        width: 20%;
      }
    }
    &--address {
      @include tablet() {
        width: 15%;
      }
    }
    &--contact-name {
      @include tablet() {
        width: 15%;
      }
    }
    &--contact-info {
      @include tablet() {
        width: 10%;
      }
      @include desktop() {
        width: 5%;
      }
    }
    &--contact-ware {
      @include tablet() {
        width: 10%;
      }
    }
    &--actions {
      @include tablet() {
        width: 20%;
        text-align: right;
      }
    }
  }
}

.inventory-details-information {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  @include tablet() {
    flex-direction: row;
    padding: 0 2rem;
    margin: 2rem 0;
  }
  &__header {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $Slate;
    text-transform: uppercase;
  }
  &__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: $Instock-Black;
    text-transform: capitalize;
  }
  &__right {
    margin-top: 1rem;
    @include tablet() {
      display: flex;
      align-items: center;
      border-right: 1px solid $Cloud;
      margin: 0;
    }
    width: 100%;
  }
  &__left {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem 0 1rem 0;
    @include tablet() {
      width: 100%;
      justify-content: center;
      margin: 0 0;
    }
  }
  &__item {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
  }
}
