@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/fonts" as *;

.header {
    background-color: $Graphite;
    display: flex;
    justify-content: center;

    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem 5.5rem 0rem;
        width: 90%;
        max-width: 1280px;
    
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0rem 7rem 0rem;
        }
    
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0rem 8rem 0rem;
            max-width: 1050px;
        }
    }

    &__logo {
        margin-bottom: 0.5rem;

        @include tablet {
            margin: 0;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    &__link {
        // width: 100px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 2.25rem;
        border-radius: 1.125rem;
        color: $Cloud;
        text-decoration: none;
        padding: 0 2rem;

        @include tablet {
            padding: 0 0.25rem;
        }

        @include desktop {
            padding: 0 0.25rem;
        }

        &:focus {
            background-color: $Instock-Black;
            color: $White;
            padding: 0 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 2.5rem;
        }
    }
}
