@use "@/styles/partials/fonts" as *;
@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.warehouse-details-main {
  position: absolute;
    width: 100%;
    top: 0;
    margin-top: 7.5rem;
  @include tablet() {
    margin-top: 6rem;
  }
}

