@use "@/styles/partials/fonts" as *;
@use "@/styles/partials/variables" as *;
@use "@/styles/partials/mixins" as *;

.inventory-details-item {
  display: flex;
  padding: 1rem 1rem;
  align-items: flex-start;
  border-top: 1px solid $Cloud;
  justify-content: space-between;
  @include tablet() {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid $Cloud;
    border-top: none;
  }
  &__container--inventory {
    margin: 0;
    @include tablet() {
      margin: auto 2rem auto 0;
    }
  }

  &__header-link {
    transition: all 0.15s ease-in-out;
    
    cursor: pointer;
    &:hover {
      color: $Graphite;
    }
  }
  &__header {
    font-size: 0.688rem;
    color: $Slate;
    line-height: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    text-decoration: none;
    &--mb {
      display: flex;
      align-items: center;
      color: $Instock-Indigo;
      font-size: 0.813rem;
      line-height: 1.25rem;
      cursor: pointer;
    }
    &--tb {
      display: none;
      color: $Instock-Indigo;
      font-size: 0.813rem;
      line-height: 1.25rem;
      text-decoration: none;
      
      @include tablet() {
        display: flex;
      }
    }

    &--link {
      text-decoration: none;
    }
  }
  &__text {
    font-size: 0.875rem;
    color: $Instock-Black;
    line-height: 1.375rem;
    margin: 0;
    &--tb {
      display: none;
      @include tablet() {
        display: flex;
      }
    }
  }
  &__mb {
    @include tablet() {
      display: none;
    }
    @include desktop() {
      display: none;
    }
  }
  &__container {
    &--inventory {
      @include tablet() {
        width: 33%;
      }
    }
    &--address {
      display: none;
      @include tablet() {
        display: flex;
        flex-direction: column;
        width: 30%;
      }
      @include desktop() {
        width: 35%;
      }
    }
    &--contact-name {
      width: 50%;
      @include tablet() {
        width: 40%;
      }
    }
    &--contact-info {
      display: none;
      @include tablet() {
        display: flex;
        flex-direction: column;
        width: 18%;
      }
      @include desktop() {
        width: 15%;
      }
    }
    &--contact-ware {
      display: none;
      @include tablet() {
        display: flex;
        flex-direction: column;
        width: 22%;
      }
      @include desktop() {
        width: 30%;
      }
    }
    &--actions {
      display: none;
      @include tablet() {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 15%;
        padding-left: 1rem;
      }
    }
  }
  &__button {
    background-color: transparent;
    border-style: none;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: $Light-Grey;
    }
  }
  &__pill {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 600;
    margin-top: 0.5rem;
    @include tablet() {
      margin-top: 0;
    }
    &--is {
      color: $Green;
      background-color: rgba($color: $Green, $alpha: 0.07);
    }
    &--oos {
      color: $Red;
      background-color: rgba($color: $Red, $alpha: 0.07);
    }
  }
}

.inventory-details-item-actions-mb {
  border-bottom: 1px solid $Cloud;
  display: flex;
  justify-content: space-between;
  @include tablet() {
    display: none;
  }
}

.link {
  text-decoration: none;
}
